<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.adu.infrastructure.dao.IGroupBuyOrderListDao">

    <resultMap id="dataMap" type="cn.adu.infrastructure.dao.po.GroupBuyOrderList">
        <id column="id" property="userId"/>
        <result column="team_Id" property="teamId"/>
        <result column="activity_Id" property="activityId"/>
        <result column="start_Time" property="startTime"/>
        <result column="end_Time" property="endTime"/>
        <result column="goods_Id" property="goodsId"/>
        <result column="source" property="source"/>
        <result column="channel" property="channel"/>
        <result column="original_Price" property="originalPrice"/>
        <result column="deduction_Price" property="deductionPrice"/>
        <result column="outTradeNo" property="outTradeNo"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <insert id="insert" parameterType="cn.adu.infrastructure.dao.po.GroupBuyOrderList">
insert into group_buy_order_list(id, user_id, team_id, order_id,
                                 activity_id, start_time, end_time,
                                 goods_id, source, channel, original_price,
                                 deduction_price, status, out_trade_no, create_time, update_time)
values (#{id}, #{userId}, #{teamId}, #{orderId},
        #{activityId}, #{startTime}, #{endTime},
        #{goodsId}, #{source}, #{channel}, #{originalPrice},
        #{deductionPrice}, #{status}, #{outTradeNo}, #{createTime}, #{updateTime})

    </insert>
    <select id="queryGroupBuyOrderRecordByOutTradeNo"
            resultType="cn.adu.infrastructure.dao.po.GroupBuyOrderList" resultMap="dataMap">
        select user_id, team_id,order_id,activity_id,start_time,end_time,goods_id,
               source,channel,original_price,deduction_price,
               status from group_buy_order_list
        where out_trade_no=#{outTradeNo} and user_id=#{userId} and status=0


    </select>


</mapper>
